{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<div class="ul">
    <ul>
        <li><a href="{% url "catalog:index" %}">Go to "Home" page</a></li>
        <li><a href="{% url "catalog:create_person" %}">Go to the "Create person" page</a></li>
    </ul>
</div>

<style>
</style>

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="{% static "css/fielset.css" %}">
    {% block css_additional %}{% endblock css_additional %}
</head>
<body>

{% block content %}
{% endblock content %}
</body>